.container {
  padding: 0 20px;
  max-width: 900px;
  margin: 0 auto;
  line-height: 2.0;
  white-space: pre-line;

}

.container h1 {
  font-size: 32px;
}

.container img {
  width: 50%;
  height: auto;
}

.container figure {
  margin-left: 0;
  margin-right: 0;
}

.container p {
    font-size: 16px;
    margin-bottom: 2em;
}

.container figcaption {
  opacity: 0.6;
}

.name {
  font-size: 36px;
}

.back {
  display: inline-block;
  margin-bottom: 20px;
}

.bold {
  font-weight: bold;
}

.code {
  font-family: monospace;
  background-color: rgb(242, 242, 242);
  padding: 2px 4px;
  border-radius: 2px;
}

.italic {
  font-style: italic;
}

.pre {
  background-color: rgb(242, 242, 242);
  padding: 2px 4px;
  margin: 20px 0;
  line-height: 2.3;
  border-radius: 12px;
  overflow: auto;
}

.code_block {
  padding: 20px;
  font-family: monospace;
  display: flex;
  flex-wrap: wrap;
}

.quote {
    border-left: 4px solid rgb(242, 242, 242);
    padding-left: 20px;
    margin: 20px 0;
    line-height: 2.3;
}

.file {
  padding: 2px 4px;
  text-decoration: none;
}

.file a {
  color: inherit;
}

.file:hover {
  background: rgba(55, 53, 47, 0.08);
  cursor: pointer;
  border-radius: 2px;
}

.italic {
  font-style: italic;
}

.strikethrough {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}

.bookmark {
  display: block;
  margin-bottom: 10px;
}

.table {
  border: 1px solid currentColor;
  border-collapse: collapse;
}
.table th {
  border: 1px solid currentColor;
  background-color: rgb(242, 242, 242);
  padding: 6px 12px;
}
.table td {
  border: 1px solid currentColor;
  padding: 6px 12px;
}

.row {
  display: flex;
  gap: 20px;
}

.row > div {
  flex: 1;
}

.childPage {
  border: 1px solid currentColor;
  padding: 20px;
  border-radius: 12px;
}

.callout {
    padding: 1em;
    border-left: 4px solid #8ac4d0;
    background-color: #e6f7ff;
    color: #5c7080;
    display: flex;
    align-items: center;
}

.calloutIcon {
    padding: 10px;
}


.embedContainer {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    height: 100px;
    display: flex;
    margin: 5px 0;
}

/* .embedImageContainer {
    height: 100px;
    width: 20%; 
} */

.embedImage {
    max-width: 30%;
    /* height: auto; */
    object-fit: cover;
}

.embedContent {
    /* width: 80%; */
    padding: 10px;
}

.embedTitle {
    margin: 0;
    font-size: 0.9em;
    font-weight: bold;
}

.embedDescription {
    margin: 0;
    font-size: 0.8em;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (prefers-color-scheme: dark) {
  .code,
  .table,
  .pre {
    background-color: rgb(15, 8, 28);
  }
  .file:hover {
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    border-radius: 2px;
  }
  .callout {
    border-left: 4px solid #5c81a4;
    background-color: #495575d6;
    color:white;
  }
}
